body {
  overflow: hidden;
  height: 100%;
}

.configSlider {
  
}

.configButton {
  
}

.configTab {
  
}

.configTabBody {
  
}

.tabBar {
  
}

.configBody {
  
}

.configWindow {
  
}

#root {
    display: none;
}

canvas {
  position: absolute;
}